# Ignore compiled and cached py files
*.pyc
**/.cache

# Ignore ipynb checkpoint files
**/.ipynb_checkpoints

# Ignore files marked as old
*_old*


# Ignore swap files
*.swp*

# Ignore all files in a folder (old/ outdated work)
Trash/*

# Ignore website files
/docs/_site/*
/docs/.sass-cache/*

# Ignore any figures
*.svg
*.png

# Ignore data directory
data/*

# Ignore API key files
api_key.txt
